/Avarage2/build/
/SalaryWithBonus/build/
/Simple Calculate/nbproject/private/
/Simple Calculate/build/
/Sphere1011/nbproject/private/
/Sphere1011/build/
/Area/nbproject/private/
/Area/build/
/The Gratest/nbproject/private/
/The Gratest/build/
/Consumption/nbproject/private/
/Consumption/build/
/Distance Two Points/nbproject/private/
/Distance Two Points/build/